.loader {
  animation: rotate 1s linear infinite;
}

.circle {
  animation: dashoffset 4s linear infinite;
}

@keyframes dashoffset {
  0% {
    stroke-dashoffset: var(--offset);
  }
  50% {
    stroke-dashoffset: 0;
  }
  50.1% {
    stroke-dashoffset: calc(var(--offset) * 2);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
