.button {
  @apply font-bold text-base;
  @apply px-6 h-8;
  @apply shadow-lg;
  @apply select-none;
  @apply bg-black text-white;

  border-radius: 1rem;
  transition: transform 350ms cubic-bezier(0.86, 0, 0.07, 1);
}

.button:focus {
  @apply outline-none;
}

.button:hover {
  transform: scale(1.13);
}
