.btns-container {
  @apply w-full flex absolute justify-between px-3;
}

.btns-group {
  @apply flex flex-col;
}

.btns-group > button:not(:last-child) {
  @apply mb-3;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: theme('screens.md')) {
  .btns-container {
    @apply w-full justify-center px-0 items-center flex-col py-4;
  }

  .btns-group {
    @apply flex-row;
  }

  .btns-group:first-child {
    @apply mb-3;
  }

  .btns-group > button:not(:last-child) {
    @apply mb-0 mr-3;
  }

  .center {
    bottom: 0;
    left: 50%;
    top: unset;
    transform: translate(-50%, 0);
  }
}
