.container {
  @apply flex flex-col fixed;
}

.left {
  left: theme('spacing.4');
  top: 50%;
  transform: translate(0, -50%);
}
.right {
  right: theme('spacing.4');
  top: 50%;
  transform: translate(0, -50%);
}

.container > button:not(:last-child) {
  @apply mb-3;
}

@media (min-width: theme('screens.md')) {
  .container {
    @apply flex-row;
  }

  .container > button:not(:last-child) {
    @apply mb-0 mr-3;
  }

  .left {
    bottom: 0;
    left: 50%;
    top: unset;
    bottom: calc(theme('height.10') + theme('spacing.4') * 2);
    transform: translate(-50%, 0);
  }

  .right {
    bottom: 0;
    left: 50%;
    right: unset;
    top: unset;
    bottom: theme('spacing.4');
    transform: translate(-50%, 0);
  }
}
